<%= form_tag(sessions_path, method: :post) do %>
  <%= label_tag 'Email' %>
  <%= text_field_tag :email %>
  <%= label_tag 'Password' %>
  <%= password_field_tag :password %>
  <%= submit_tag 'ログイン' %>
<% end %>
