<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th><td><%= @user.name %></td>
    <th>Email</th><td><%= @user.email %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
