<!DOCTYPE html>
<html>
  <head>
    <title>DoorkeeperExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p>Logged in as <%= current_user.name %></p>
      <p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
